/* SpinLocalMask.module.css */
.spinWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.spinMask {
  position: absolute;
  inset: 0; /* top right bottom left 全是 0 */
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.75); /* 半透白底，可换 */
  z-index: 99999;
}
